@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#d3ad7f;
    /*--black:#13131a;*/
    color:rgb(4, 18, 63);
    --cor-azul1:#1c3661;
    --cor-azul2:#468cbc;
    --cor-azul3:#82ceea;
    --cor-azul4:#0d2d43;
    --cor-branco:#ffffff;
    --cor-preto:#000000;
    --cor-dourado:#ccc;

    --bg:#010103;
    /* configuracao de todas as bordas da pagina */
    /* --border:.2rem solid var(--cor-azul2); */
}

*{
    font-family: 'Sunflower', 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/* ----------------------INICIO HEADER/MENU-------------------------*/
.header{
    background: var(--cor-branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 2%;
    border-bottom: var(--cor-azul3);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 5rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem;
    color:var(--cor-azul1);
    text-transform: uppercase;
    font-weight: bold; 
}

.header .navbar a:hover{
    color:var(--cor-azul2);
    border-bottom: .1rem solid var(--cor-azul2);
    padding-bottom: .5rem;
    
}

.header .icons div{
    color:var(--cor-azul1);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--cor-azul2);
}

#menu-btn{
    display: none;
}
/* ----------------------FINAL HEADER/MENU------------------------*/


/* ----------------------INICIO HOME------------------------*/
.home{
    min-height: 70vh;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    background:url(../images/home-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 75rem;
    text-align:left;
    font-size: 5rem;
    padding: 10rem;
    color:var(--cor-azul1);
}

.home .content .heading{
    color:var(--cor-azul1);
}

.home .content .heading span{
    color:var(--cor-azul1);
}

.home .content .btn{
    border-radius: 5px;
    margin-top: 5rem;
    display: inline-block;
    padding: 1rem 10rem;
    font-size: 2.5rem;
    font-weight: bold; 
    color: var(--cor-branco);
    background: var(--cor-azul1);
    cursor: pointer;
    text-align: center;
    line-height: normal;
}

.home .content .btn:hover{
    letter-spacing: .2rem;
}

/* ----------------------FINAL HOME------------------------*/


/* ----------------------INICIO SOBRE-------------------------*/
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
}

.about .row .image{
    flex:1 1 20rem;
}

.about .row .image img{
    border-radius: 10px;
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content p{
    font-size: 2.2rem;
    color:var(--cor-dourado);
    padding:1rem 0;
    line-height: 1.8;
}

.about .content .btn{
    border-radius: 5px;
    margin-top: 5rem;
    display: inline-block;
    padding: 1rem 10rem;
    font-size: 2.5rem;
    font-weight: bold; 
    color: var(--cor-branco);
    background: var(--cor-azul1);
    cursor: pointer;
    text-align: center;
    line-height: normal;
}

.about .content .btn:hover{
    letter-spacing: .2rem;
}

.about .heading{
    text-align: center;
    color:var(--cor-azul2);
    text-transform: uppercase;
    padding-bottom: .5rem;
    font-size: 4rem;
}

.about .heading span{
    color:var(--cor-azul2);
    text-transform: uppercase;
}

/* ----------------------FINAL SOBRE-----------------------------*/


/* ----------------------INICIO BLOG-------------------------*/
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    padding: 4rem;
}

.blogs .box-container .box{
    border-radius: 10px;
    border:.1rem solid var(--cor-azul2);
}

.blogs .box-container .box .image{
    border-radius: 10px 10px 0 0;
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:var(--cor-azul1);
}

.blogs .box-container .box .content .title:hover{
    color:var(--cor-azul3);
}

.blogs .box-container .box .content span{
    color:var(--cor-azul4);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:var(--cor-dourado);
    padding:1rem 0;
}

.blogs .box-container .box .content .btn{
    border-radius: 2px;
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color:var(--cor-branco);
    background: var(--cor-azul1);
    cursor: pointer;
}

.blogs .box-container .box .content .btn:hover{
    letter-spacing: .2rem;
}

.blogs .heading{
    text-align: center;
    color:var(--cor-azul1);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.blogs .heading span{
    color:var(--cor-azul2);
    text-transform: uppercase;
}

/* ----------------------FINAL BLOG-------------------------*/


/* ----------------------INICIO FORM-------------------------*/

.form {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.form .heading {
    text-align: center;
    color:var(--cor-azul1);
    text-transform: uppercase;
    padding-bottom: .5rem;
    font-size: 4rem;
}
.form .heading span{
    color:var(--cor-azul2);
    text-transform: uppercase;
}

.form-row {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    padding: 2rem;
}

.campo-row {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.field {
    flex: 1;
    min-width: 250px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #fff;
}

textarea {
    resize: vertical;
}

.form .form-row .btn{
    display: inline-block;
    border-radius: 5px;
    /* margin-top: 5rem; */
    display: inline-block;
    padding: 1rem 10rem;
    font-size: 2.5rem;
    font-weight: bold; 
    color: var(--cor-branco);
    background: var(--cor-azul1);
    cursor: pointer;
    text-align: center;
    line-height: normal;
}

.form .form-row .btn:hover{
    letter-spacing: .2rem;
}



/* ----------------------FINAL FORM-------------------------*/


/* ----------------------INICIO FOOTER-------------------------*/

.footer {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
    background: var(--cor-branco);
}

.footer .box-container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.footer .box-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .share {
    margin-bottom: 1rem;
}

.footer .share a {
    font-size: 3rem;
    margin: 0 1rem;
    color: var(--cor-azul1);
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer .share a:hover {
    color: var(--cor-azul2);
    transform: scale(1.2);
}

.footer .content p {
    margin: 0.5rem 0;
    font-size: 1.6rem;
}

.footer .credit {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: var(--cor-dourado)
}

/* ----------------------FINAL FOOTER-------------------------*/


/* ----------------------media queries----------------------  */
@media (max-width:1160px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:960px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h4{
        font-size: 4.2rem;
        text-align: center;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}


